<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hao.datacollector.dal.dao.LimitUpMapper">

    <!-- 插入基础标签数据(存在即更新) -->
    <insert id="insertBaseTopic">
        INSERT INTO tb_base_topic (topic_id, topic_name)
        VALUES
        <![CDATA[
        INSERT INTO `tb_base_topic` (topic_id, topic_name)
        VALUES (#{baseTopicDTO.topicId}, #{baseTopicDTO.topicName}) ON DUPLICATE KEY
        update `topic_name` = #{baseTopicDTO.topicName},
            `update_time` = NOW()
        ]]>;
    </insert>

    <!-- 批量插入股票标签关联数据 -->
    <insert id="batchInsertStockTopicRelation" parameterType="java.util.List">
        INSERT INTO tb_limit_up_stock_topic_relation (trade_date, wind_code, topic_id, color, stock_num, topic_hot)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.tradeDate}, #{item.windCode}, #{item.topicId}, #{item.color}, #{item.stock_num}, #{item.topicHot})
        </foreach>
    </insert>

    <!-- 批量插入涨停股票详细信息 -->
    <insert id="batchInsertLimitUpStockInfo" parameterType="java.util.List">
        INSERT INTO tb_limit_up_stock_info (
        wind_code, trade_date, wind_name, first_time, limit_status,
        listed_stock, order_total, volume_net_in, price,
        limit_up_x, limit_up_n, limit_up_m,
        main_forces, cost, profit, main_forces_in, divergency,
        main_forces_c_b, main_forces_c_s, main_forces_ntimes, main_forces_stimes,
        buy_avg_amount, sell_avg_amount
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.windCode},
            #{item.tradeDate},
            #{item.windName},
            #{item.firstTime},
            #{item.limitStatus},
            #{item.listedStock},
            #{item.orderTotal},
            #{item.volumeNetIn},
            #{item.price},
            #{item.limitUpX},
            #{item.limitUpN},
            #{item.limitUpM},
            #{item.mainForces},
            #{item.cost},
            #{item.profit},
            #{item.mainForcesIn},
            #{item.divergency},
            #{item.mainForcesCB},
            #{item.mainForcesCS},
            #{item.mainForcesNtimes},
            #{item.mainForcesStimes},
            #{item.buyAvgAmount},
            #{item.sellAvgAmount}
            )
        </foreach>
    </insert>


    <!-- 根据交易日删除每日涨停股票明细数据 -->
    <delete id="deleteLimitUpStockInfoByTradeDate">
        DELETE FROM tb_limit_up_stock_info
        WHERE trade_date = #{tradeDate}
    </delete>

    <!-- 根据交易日删除股票标签关联数据 -->
    <delete id="deleteStockTopicRelationByTradeDate">
        DELETE FROM tb_limit_up_stock_topic_relation
        WHERE trade_date = #{tradeDate}
    </delete>

</mapper>